[submodule "cc1"]
	path = cc1
	url = https://github.com/samir20-23/CC1.git
[submodule "symGolden"]
	path = symGolden
	url = https://github.com/samir20-23/sym_golden_groud.git
[submodule "soli-lmt"]
	path = soli-lmt
	url = https://github.com/soli-lms/pkg_shared_mockup.git
